#contenedor{
    display: flex;
    flex-direction: row;

}

#box_uno{
    background-color: red;
    width: 100px;
    height: 100px;
    justify-content: flex-start;
    margin-left: 10px;
    border-color: black;
    border-style: solid;
}
#box_dos{
    background-color: green;
    width: 100px;
    height: 100px;
    justify-content: flex-start;
    margin-left: 10px;
    border-color: black;
    border-style: solid;
}
#box_tres{
    background-color: yellow;
    width: 100px;
    height: 100px;
    justify-content: flex-start;
    margin-left: 10px;
    border-color: black;
    border-style: solid;
}