<div class="row">
    <div class="col">
        <p class="text-right">Hola {{persona}}! <a href="/login" class="btn btn-sm btn-danger">Cerrar sesion<i class="fa-sign-out"></i></a></p>
    </div>
</div>