<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/quienessomos">Quienes Somos</a></li>
      <li><a href="/nuestrosproductos">Nuestros Productos</a></li>
      <li><a href="/pedidos">Pedidos</a></li>
    </ul>
    {{{body}}}
  </body>
</html>
