body{
    padding: 5px;
}
.container-fluid{
    /*width: 99%;*/
    background-color: antiquewhite;
    display: grid;
    grid-template-columns:360px auto 360px;
}
.logo{
    margin-left: auto;
    margin-right: auto;
}