
  <!-- Inicio área de tarjetas -->


  <div class="row row-cols-1 row-cols-3 ">
    <div class="col">
      <div class="card">
        <img src="images/imgcard1.jpg" class="card-img-top" alt="Quienes Somos">
        <div class="card-body">
          <h5 class="card-title">TRIMASK CAFÉ SLL</h5>
          <p class="card-text">Es la empresa propietaria de: "MASCARADA CAFÉ". Una empresa de restauración familiar
            dedicada a brindar servicios grastronómicos mediante la elaboración de productos propios de la cocina de
            autor.</p>
          <p class="card-text"><small class="text-muted">Objetivos, Documentación y Ubicación</small></p>
          <a href="/quienes" class="btn btn-primary" role="button">Quienes somos</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="images/imgcard2.JPG" class="card-img-top" alt="Galería">
        <div class="card-body">
          <h5 class="card-title">Galeria</h5>
          <p class="card-text">Te invitamos a visitar nuestra galería de imágenes.</p>

          <p class="card-text"><small class="text-muted">Vistas del local y de los productos</small></p>
          <a href="datos.html" class="btn btn-primary" role="button">Galería</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="images/imgcard3.JPG" class="card-img-top" alt="Productos" >
        <div class="card-body">
          <h5 class="card-title">Productos</h5>
          <p class="card-text">Aquí podrás visitar nuestra página de productos elaborados y realizar tus pedidos.</p>

          <p class="card-text"><small class="text-muted">Productos, Listas de precios y Pedidos Online</small></p>
          <a href="datos.html" class="btn btn-primary" role="button">Productos</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Fin área de tarjetas -->