<h1>ENVIAR CONSULTAS O MENSAJES</h1>
<form action="/mensajes" method="post" class="formulario">

<p>
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido">
</p>

<p>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre">
</p>

<p>
    <label for="email">E-mail</label>
    <input type="text" name="email" >
</p>

<p>
    <label for="telefono">Teléfono</label>
    <input type="text" name="telefono">
</p>

<p>
    <label for="mensaje">Mensaje</label>
    <textarea name="mensaje"> </textarea>
</p>

<p>
    <p class="acciones">
    <input type="submit" value="Enviar" />    
    </p>
</p>

</form>
{{message}}