body{
    margin:5px;
    background-color: black;
}
.nav-item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 2px;
}
#hlogo{

    /*width: 99%;*/
    background-color:sandybrown;
    display: grid;
    grid-template-columns:270px auto 270px;
    height: 185px;
}
.logo{
    margin-left: auto;
    margin-right: auto;
}
.container-fluid{
    background-color:sandybrown;
}
#himg{
    border-style:groove;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
}
.card-text-b{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: oblique;
}
